.page-header
  = link_to favorites_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_favorite_path(@favorite), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show favorite

%dl.dl-horizontal
  %dt User:
  %dd= @favorite.user_id
  %dt Sitter:
  %dd= @favorite.sitter_id
