%li.list-group-item
  .col-xs-6.col-sm-3
    = link_to user do
      -if user.picture.present?
        %img
          = image_tag attachment_url(user, :picture), size: "100x100", class: "img-responsive img-circle"
      -else
        = image_tag("dogicon.jpg", size: "100x100", class: "img-responsive img-circle")
  .col-xs-6.col-sm-9
    %span.name
      =user.name
    %br/
    %span
      =user.address
    %br/
    %span
      =user.phone
    %br/
    %span
      =user.email
    %br/
  .clearfix
