-#
-# .form-group
-#   = label_tag(:many_dog, "How many dogs do you need to sit?:")
-#   .how-many-dogs-to-sit
-#     .btn-group{"data-toggle" => "buttons"}
-#       %label.btn.btn-default.col-xs-3
-#         = radio_button_tag(:dnum, "0")
-#         0
-#       %label.btn.btn-default.col-xs-3
-#         = radio_button_tag(:dnum, "1")
-#         1
-#       %label.btn.btn-default.col-xs-3
-#         = radio_button_tag(:dnum, "2")
-#         2
-#       %label.btn.btn-default.col-xs-3
-#         = radio_button_tag(:dnum, "3+")
-#         3+
-#
-# .form-group
-#   = label_tag(:many_cat, "How many cats do you need to sit?:")
-#   .how-many-cats-to-sit
-#     .btn-group{"data-toggle" => "buttons"}
-#       %label.btn.btn-default.col-xs-3
-#         = radio_button_tag(:cnum, "0")
-#         0
-#       %label.btn.btn-default.col-xs-3
-#         = radio_button_tag(:cnum, "1")
-#         1
-#       %label.btn.btn-default.col-xs-3
-#         = radio_button_tag(:cnum, "2")
-#         2
-#       %label.btn.btn-default.col-xs-3
-#         = radio_button_tag(:cnum, "3+")
-#         3+
-#
-# .form-group
-#   = label_tag(:many_other, "How many other animals do you need to sit?:")
-#   .how-many-other-to-sit
-#     .btn-group{"data-toggle" => "buttons"}
-#       %label.btn.btn-default.col-xs-3
-#         = radio_button_tag(:onumon, "0")
-#         0
-#       %label.btn.btn-default.col-xs-3
-#         = radio_button_tag(:onum, "1")
-#         1
-#       %label.btn.btn-default.col-xs-3
-#         = radio_button_tag(:onum, "2")
-#         2
-#       %label.btn.btn-default.col-xs-3
-#         = radio_button_tag(:onum, "3+")
-#         3+
