
.cat_dog_tab
  .container.text-center
    .row
      .col-xs-12.col-sm-6.col-sm-offset-3{:role => "tabpanel"}
        / Nav tabs
        %ul#nav-tabs.nav.nav-justified{:role => "tablist"}
          %li.active{:role => "presentation"}
            %a{"aria-controls" => "dog", "data-toggle" => "tab", :href => "#dogicon", :role => "tab"}
              =image_tag("dogicon.jpg", class:"img-circle", id: "img" , size: "80x80")
          %li{:role => "presentation"}
            %a{"aria-controls" => "cat", "data-toggle" => "tab", :href => "#caticon", :role => "tab"}
              =image_tag("caticon.jpg", class:"img-circle", size: "80x80")
          %li{:role => "presentation"}
            %a{"aria-controls" => "other", "data-toggle" => "tab", :href => "#othericon", :role => "tab"}
              =image_tag("other.jpg", class:"img-circle", size: "80x80")
          %li{:role => "presentation"}
            %a{"aria-controls" => "multi", "data-toggle" => "tab", :href => "#multiicon", :role => "tab"}
              =image_tag("multipet.jpg", class:"img-circle", size: "80x80")
              -# %img.img-circle{:src => "https://s3.amazonaws.com/uifaces/faces/twitter/annapickard/128.jpg"}/

        / Tab panes
        #tabs-collapse.tab-content
          #dogicon.tab-pane.fade.in.active{:role => "tabpanel"}
            .container.tab-inner
              .row.form-group
                .col-xs-12.col-sm-6
                  %ul#contact-list.list-group
                    = render @dog_sitters

          #caticon.tab-pane.fade{:role => "tabpanel"}
            .container.tab-inner
              .row.form-group
                .col-xs-12.col-sm-6
                  %ul#contact-list.list-group
                    = render @cat_sitters

          #othericon.tab-pane.fade{:role => "tabpanel"}
            .container.tab-inner
              .row.form-group
                .col-xs-12.col-sm-6
                  %ul#contact-list.list-group
                    = render @other_sitters

          #multiicon.tab-pane.fade{:role => "tabpanel"}
            .container.tab-inner
              .row.form-group
                .col-xs-12.col-sm-6
                  %ul#contact-list.list-group
                    = render @multi_sitters
