
.cat_dog_tab
  .container.text-center
    .row
      .col-xs-12.col-sm-6.col-sm-offset-3{:role => "tabpanel"}
        / Nav tabs
        %ul#nav-tabs.nav.nav-justified{:role => "tablist"}
          %li.active{:role => "presentation"}
            %a{"aria-controls" => "dustin", "data-toggle" => "tab", :href => "#dogicon", :role => "tab"}
              =image_tag("dogicon.jpg", class:"img-circle", size: "80x80")

          %li{:role => "presentation"}
            %a{"aria-controls" => "daksh", "data-toggle" => "tab", :href => "#caticon", :role => "tab"}
              =image_tag("caticon.jpg", class:"img-circle", size: "80x80")
          %li{:role => "presentation"}
            %a{"aria-controls" => "anna", "data-toggle" => "tab", :href => "#multiicon", :role => "tab"}
              =image_tag("multipets.jpg", class:"img-circle", size: "80x80")
              -# %img.img-circle{:src => "https://s3.amazonaws.com/uifaces/faces/twitter/annapickard/128.jpg"}/

        / Tab panes
        #tabs-collapse.tab-content
          #dogicon.tab-pane.fade.in.active{:role => "tabpanel"}
            .container.tab-inner
              .row.form-group
                .col-xs-12.col-sm-6
                  %ul#contact-list.list-group
                    = render @dog_sitters

          #caticon.tab-pane.fade{:role => "tabpanel"}
            .container.tab-inner
              .row.form-group
                .col-xs-12.col-sm-6
                  %ul#contact-list.list-group
                    = render @cat_sitters

          #multiicon.tab-pane.fade{:role => "tabpanel"}
            .container.tab-inner
              .row.form-group
                .col-xs-12.col-sm-6
                  %ul#contact-list.list-group
                    = render @users

-# .table-responsive
-#   %table.table.table-striped.table-bordered.table-hover
-#     %thead
-#       %tr
-#         %th Name
-#         %th Address
-#         %th City
-#         %th State
-#         %th Zipcode
-#         %th Phone
-#         %th Email
-#         %th Lat
-#         %th Long
-#         %th Backyard
-#         %th Preferences
-#         %th Picture
-#         %th{colspan: 3}
-#
-#     %tbody
-#       - @sitters.each do |sitter|
-#         %tr
-#           %td= sitter.name
-#           %td= sitter.address
-#           %td= sitter.city
-#           %td= sitter.state
-#           %td= sitter.zipcode
-#           %td= sitter.phone
-#           %td= sitter.email
-#           %td= sitter.lat
-#           %td= sitter.long
-#           %td= sitter.backyard
-#           %td= sitter.preferences
-#           %td= sitter.picture_id
-#           %td
-#             = link_to sitter do
-#               %span.glyphicon.glyphicon-ok
-#           %td
-#             = link_to edit_sitter_path(sitter) do
-#               %span.glyphicon.glyphicon-pencil
-#           %td
-#             = link_to sitter, data: { confirm: 'Are you sure?' }, method: :delete do
-#               %span.glyphicon.glyphicon-remove


-# .page-header
-#   = link_to new_user_path, class: 'btn btn-primary' do
-#     %span.glyphicon.glyphicon-plus
-#     New User
-#   %h1 Listing users
-#
-# .table-responsive
-#   %table.table.table-striped.table-bordered.table-hover
-#     %thead
-#       %tr
-#         %th Name
-#         %th Address
-#         %th Phone
-#         %th Email
-#         %th Picture
-#         %th About me
-#         %th{colspan: 3}
-#
-#     %tbody
-#       - @users.each do |user|
-#         %tr
-#           %td= user.name
-#           %td= user.address
-#           %td= user.phone
-#           %td= user.email
-#           %td= user.picture_id
-#           %td= user.about_me
-#           %td
-#             = link_to user do
-#               %span.glyphicon.glyphicon-ok
-#           %td
-#             = link_to edit_user_path(user) do
-#               %span.glyphicon.glyphicon-pencil
-#           %td
-#             = link_to user, data: { confirm: 'Are you sure?' }, method: :delete do
-#               %span.glyphicon.glyphicon-remove
