.container.auth.search.results
  %h2.text-center
    Matching Sitter
    -if @results.empty?
      .jumbotron.result
        %h1 Sorry! No Matching Sitter Found!
        =image_tag("dog_cry.png", class: "img-responsive")
  .row.form-group
    .col-xs-12.col-sm-6
      %ul#contact-list.list-group
        = render @results
