/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import 'font-awesome';
@import 'bootstrap-social';
@import url("https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco|Futura|Noto+Serif");


nav.navbar.navbar-inverse.navbar-fixed-top.jasmine {
  background-color: #4ABDAC;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  a {
    color: white;
    text-shadow: 0.5px 0.5px 0.5px #2F4F4F;
  }

}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}
.navbar-toggle {
    z-index:3;
}

// #BFD8D2




//iphone5 media query
@media screen and (device-aspect-ratio: 40/71) {
  .logo-wel {
    width: 230px;
    height: auto;
  }
  .name {
    font-size: 1.2em;
    font-weight: 300;
  }

}

//ipad media query
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
 }


 @media (max-width: 767px) {
   .visible-xs {
     display: inline-block !important;
   }
   .block {
     display: block !important;
     width: 100%;
     height: 1px !important;
   }
 }
