.cat_dog_tab {
  padding-top: 30px;
}

.nav.nav-jasmine > li {
  // border: red solid 1px;
  padding: 0px;
  margin: 0px;
  > a {
    position: relative;
    &:hover, &:focus {
      background-color: transparent;
    }

    > img {

      box-shadow: 0 0 0 5px #13c0ba;
      max-height: 100%;
      opacity: .3;
      -webkit-transform: scale(0.8, 0.8);
      transform: scale(0.8, 0.8);
      -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }
  &.active > a > img, &:hover > a > img, &:focus > a > img {


    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}

//List of sitters for each section
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
//
// body.list {
//   padding: 30px 0px 60px;
// }

.panel > .list-group .list-group-item:first-child {
  /*border-top: 1px solid rgb(204, 204, 204);*/
}

//   .input-group-btn .btn {
//     border-radius: 0px;
//     border-width: 0px;
//     border-left-width: 1px;
//     border-bottom-width: 1px;
//     height: 44px;
//   }
// }

.name {
  font-size: 1.5em;
  font-weight: 600;
}
