.controller-session.action-new {
  background: image-url("formback3.jpg");
  background-size: 200%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.social {
  padding:25px;
  margin-bottom: 25px;
  text-align: center;
}

.social-login-icon {
  height: 40px;
  width: 150px;
 font-size: 1.3em;
}

.social-login-text {
  font-size: 1.3em;
}
