// sitter_new.html
.formback {
  background: image-url("formback2.jpg");
  background-size: 200%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 40px;
  // background-color: #dbc394;
}

.page-header.new-margin {
  margin-top: -10px;
  padding-top: 0;
  border: 0;
}
