
.controller-users.action-search {
  background: image-url("formback2.jpg");
  background-size: 200%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  // font-family: 'Open Sans', sans-serif;
  padding-bottom: 40px;
  // background-color: #dbc394;
  padding-top: 4%;

}

.container.auth.search {
  padding-top: 5px;
  h1 {
    color: #555f6e;
    padding-bottom: 10px;

  }
}

.form-group.search {
  label {

  }
}

.select.star {
  select#ratings {
  color: gray !important;
}
}
