body {
  margin: 0;
  font-family: 'Futura', sans-serif;
}

//******************** Nav bar *************************************

.menu_cap {
  text-transform: uppercase;
}

nav.navbar {
  border: none;
}

nav.navbar.transparent.navbar-inverse {
  a{
  color: white;
  }
  li a:hover {
  color: #2F4F4F;

      }
}
nav.navbar.transparent.navbar-inverse.navbar-fixed-top {
   border-width: 0px;
   -webkit-box-shadow: 0px 0px;
   box-shadow: 0px 0px;
   background-color: rgba(0,0,0,0.0);
   background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
   background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
   background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}
.navbar-brand {
      color: #BFD8D2;
      font-weight: bold;
      font-size: 2em;
      text-decoration: 0;
    }

// ******************************************************************************

.font_wireframe {
  font-family:  'Futura', sans-serif;
  color:white;
  font-size: 1.1em;
  // text-decoration: none;
  li a{
      color: #2F4F4F;
      text-shadow: .6px .6px .6px #2F4F4F;
      }
}


// ********************************  Search Box **********************************

.custom-search-input {
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
  input {
    border: 0;
    box-shadow: none;
  }

  .glyphicon-search {
    font-size: 23px;
  }
}

.search {
  position: relative;

  .search-buttons {
    position: absolute;
    top: 60vh;
    width: 100%;

    a {
      width: 100%;
      height: 5em;
      color: white;
      font-family: 'Futura', sans-serif;
      // font-weight: bold;
      font-size: 1.2em;
      padding-top: 4vh;
    }

    a.find-sitter {
      background-color: rgba(223, 116, 72, 0.8);
    }

    a.nearby-sitter {
      background-color: rgba(220, 178, 57, 0.8);
    }
  }
}


.each_button {
  margin-bottom: 10px;
}

.word {
  padding-top: 5%;
  padding-left: 5%;
  font-family: 'Sue Ellen Francisco', cursive;

  p.quote {
    font-size: 2.7em;
  }
  p {
    font-size: 1.7em;
  }
}

//********************* video **************************************
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

.stopfade {
  opacity: 0.5;
}


h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}


//
// @media screen and (max-width: 500px) {
//   div {
//     width: 70%;
//   }
// }
//
// @media screen and (max-device-width: 800px) {
//   html {
//     background: url(https://thenewcode.com/assets/images/polina.jpg) #000 no-repeat center center fixed;
//   }
//   #bgvid {
//     display: none;
//   }
// }
